body {
    background-color: whitesmoke;
}
h1 {
    text-align: center;
    font-size: 2em
}
img {
    width: 350px;
    height: 200px;
    float: right;
}

p {
    font-size: x-large;
    text-align: left;
}

#main-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-style: solid;
    font-size: x-large;
    border-spacing: 100px;
}

/* Tried display:table-cell below which allows text align moddle and center which centers the text better in the circle But cannot get margins right to center div's. Also it scales differently when
shrink the browser window. Needs some work. */
.color-container {
    border-radius: 50%;
    display:table-cell;
    height: 250px;
    width: 250px;
    text-align:center;
    vertical-align: middle;
    color: white;
}



#color-brown {
    background-color: brown;
}

#color-blue {
    background-color: blue;
}
#color-blue:hover {
    background-color: purple;
}

#color-violet {
    background-color: blueviolet;
}